[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
a2wsgi = "*"
anyio = "*"
argon2-cffi = "*"
argon2-cffi-bindings = "*"
asgiref = "*"
attrs = "*"
blinker = "*"
certifi = "*"
cffi = "*"
charset-normalizer = "*"
click = "*"
colorama = "*"
connexion = "*"
flask = "*"
flask-sqlalchemy = "*"
greenlet = "*"
h11 = "*"
httpcore = "*"
httptools = "*"
httpx = "*"
idna = "*"
inflection = "*"
itsdangerous = "*"
jinja2 = "*"
jsonschema = "*"
jsonschema-specifications = "*"
markupsafe = "*"
pycparser = "*"
pyjwt = "*"
pyodbc = "*"
python-multipart = "*"
pyyaml = "*"
referencing = "*"
requests = "*"
rpds-py = "*"
sniffio = "*"
sqlalchemy = "*"
starlette = "*"
swagger-ui-bundle = "*"
typing-extensions = "*"
urllib3 = "*"
uvicorn = "*"
watchfiles = "*"
websockets = "*"
werkzeug = "*"
openmeteo-requests = "*"
requests-cache = "*"
retry-requests = "*"
pandas = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.11"
